/* variable declarations */
:root {
  --white: white;
  --black: black;
  --gray: gray;
  --lightgray: lightgray;
}

html {
  scroll-behavior: smooth;
}

/* body/main style */
body {
  font-family: "Exo 2", Arial, Helvetica, sans-serif, monospace;
}

/* navbar */
navbar {
  opacity: 50%;
}

.triangle-container {
  background-color: var(--lightgray);
  border-radius: 5px;
  width: 100px;
}

.triangle {
  width: 0;
  height: 0;
  margin-bottom: 5px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--gray);
}

.triangle-container:hover .triangle {
  border-bottom: 15px solid var(--black);
}

.nav-links-container {
  background-color: var(--lightgray);
  border-radius: 5px;
}

.nav-links-container a {
  text-decoration: none;
  color: var(--black);
}

.nav-links-container a:hover {
  color: var(--gray);
}

/* main */

section {
  margin-bottom: 10px;
}

#profile-image {
  border-radius: 100%;
}